:root {
  /* Colors */
  --color-bg: #d9d9d9; /* BACKGROUND */
  --color-text: #2c2c28; /* TEXT */
  --color-primary: #f5f5f5; /* CARDS NAVBAR SECTIONS */
  --color-secondary: #2197bd; /* BUTTONS AND LINKS */
  --color-accent: #5ce1e6; /* HIGHLIGHTS AND HOVER STATES */

  --color-dark: #222222;
  --color-light: #ffffff;

  /* Typography */
  --font-base: "Inter", sans-serif;
  --font-heading: "Poppins", sans-serif;

  /* Font Sizes */
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-base: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.5rem; /* 24px */
  --text-2xl: 2rem; /* 32px */
  --text-3xl: 2.5rem; /* 40px */
  --text-4xl: 3rem; /* 48px */

  /* Image and Icon Sizes */
  --logo-image-height-sm: 25px;
  --logo-image-height-md: 50px;
  --logo-image-height-lg: 100px;

  --hero-image-height-sm: 100px;
  --hero-image-height-md: 200px;
  --hero-image-height-lg: 300px;

  --social-icon-height-md: 60px;
  --social-icon-height-lg: 70px;
  --social-icon-height-sm: 40px;

  --map-image-width-lg: 400px;
  --map-image-width-sm: 200px;

  /* Spacing */
  --space-xsm: 0.25rem; /* 4px */
  --space-xs: 0.5rem; /* 8px */
  --space-sm: 1rem; /* 16px */
  --space-md: 1.5rem; /* 24px */
  --space-lg: 2rem; /* 32px */
  --space-xl: 3rem; /* 48px */
  --space-2xl: 4rem; /* 64px */

  /* Radius, Borders & Shadows */
  --radius-sm: 8px;
  --radius-lg: 50px;

  --shadow-sm: 0 14px 28px rgba(0, 0, 0, 0.1);
  --shadow-sm-accent: 0 14px 28px var(--color-accent);
  --shadow-lg: 0 6px 20px rgba(0, 0, 0, 0.12);
  --shadow-lg-accent: 0 6px 20px var(--color-accent);

  --border-sm: 2px;
  --border-lg: 4px;

  --text-shadow-primary-sm: 2px 2px var(--color-primary);
  --text-shadow-primary-lg: 4px 4px var(--color-primary);
  --text-shadow-secondary-sm: 2px 2px var(--color-secondary);
  --text-shadow-secondary-lg: 4px 4px var(--color-secondary);
  --text-shadow-accent-sm: 2px 2px var(--color-accent);
  --text-shadow-accent-lg: 4px 4px var(--color-accent);

  /* Widths */
  --translateY-width: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 16px default */
}

body {
  font-family: var(--font-base);
  font-size: var(--text-base);
  line-height: 1.6;
  color: var(--color-text);
  background: var(--color-bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--space-sm);
  color: var(--color-dark);
}

h1 {
  font-size: var(--text-3xl);
}
h2 {
  font-size: var(--text-2xl);
}
h3 {
  font-size: var(--text-xl);
}
p {
  margin-bottom: var(--space-sm);
}

a {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--color-secondary);
}

em[class="deg"],
em[class="speed-unit"] {
  font-style: normal;
}

input,
textarea {
  padding: var(--space-xs) var(--space-md);
  font-size: var(--text-xl);
  border: none;
  border-radius: var(--radius-sm);
  outline: none;
  transition: border-color 0.3s ease;
  background-color: var(--color-bg);
  color: var(--color-text);
}

input:focus,
textarea:focus {
  border-color: var(--color-accent);
}

select#unit {
  background-color: var(--color-primary);
  outline: none;
  border: 1px solid var(--color-secondary);
  color: var(--color-text);
  border-radius: var(--radius-sm);
  padding: var(--space-xsm) var(--space-sm);
  font-family: var(--font-base);
  font-size: var(--text-xl);
  cursor: pointer;
  transition: box-shadow 0.2s ease, border-color 0.2s ease;
}

select#unit:focus {
  outline: none;
}

.disabled,
.disabled:hover {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

.shadow_accent {
  box-shadow: var(--shadow-lg-accent);
}

.btn-primary {
  align-self: start;
  padding: var(--space-sm) var(--space-md);
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: none;
  border-radius: var(--radius-sm);
  font-size: var(--text-xl);
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  background: var(--color-accent);
  color: var(--color-secondary);
}

/* End of starter template */

.wrapper {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: auto;
  padding: var(--space-lg);
  min-width: 95dvw;
  max-height: 95dvh;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--space-lg);
  transition: all 300ms ease-in-out;
}